.row
  .col-xs-9
    = form_for @topic, html: {class:'form-horizontal'}  do |f|
      - if @topic.errors.any?
        #error_explanation
          .alert.alert-danger
            %h2= "#{pluralize(@topic.errors.count, "error")} prohibited this topic from being saved:"
            %ul
              - @topic.errors.full_messages.each do |msg|
                %li= msg

      .form-group
        = f.label :title, class: 'col-xs-2 control-label'
        .col-xs-10
          = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :description, class: 'col-xs-2 control-label'
        .col-xs-10
          = f.text_area :description, class: 'form-control', style: 'height: 100px'
      .form-group
        .col-xs-10.col-xs-offset-2
          = f.submit 'Save', class: 'btn btn-primary'
          = link_to 'Cancel', topics_path, class: 'btn btn-warning'
